Windows/**/*.user
Windows/**/*.suo
Windows/**/obj/
Windows/ScintillaTextEditor/bin/
Windows/Utility/OpcodesParser/OpcodesParser/bin/
Windows/scintilla211_for_winxound/bin/
Windows/SciLexer.dll
Windows/bin/SciLexer.dll
Windows/bin/ScintillaTextEditor.dll
Windows/bin/ScintillaTextEditor.pdb
Windows/bin/Utility/WinXound_RTConsole.exe
Windows/bin/WinXound_Net.exe
Windows/bin/WinXound_Net.pdb
Windows/bin/WinXound_Net.vshost.exe
Windows/bin/WinXound_Net.vshost.exe.manifest

# macOS

# General
.DS_Store
__MACOSX/
.AppleDouble
.LSOverride
Icon[]

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Xcode user-specific files
MacOs/WinXound.xcodeproj/xcuserdata/
MacOs/WinXound.xcodeproj/project.xcworkspace/xcuserdata/
MacOs/WinXound.xcodeproj/*.mode1v3
MacOs/WinXound.xcodeproj/*.pbxuser
## User settings
xcuserdata/

# Xcode build output
MacOs/build/
MacOs/DerivedData/

## Linux

Linux/.DS_Store
Linux/autom4te.cache/
Linux/aclocal.m4
Linux/config.guess
Linux/config.h.in
Linux/config.sub
Linux/configure
Linux/config.h
Linux/config.log
Linux/config.status
Linux/depcomp
Linux/install-sh
Linux/libtool
Linux/ltmain.sh
Linux/Makefile
Linux/Makefile.in
Linux/missing
Linux/stamp-h1
Linux/src/.deps/
Linux/src/Makefile
Linux/src/Makefile.in
Linux/scintilla/.deps/
Linux/scintilla/bin/
Linux/**/.libs/
Linux/**/.deps/
Linux/.tm_project*
Linux/.nautilus-metafile.xml
Linux/**/*.swp
Linux/**/*.autosave
Linux/**/*.pws
Linux/**/#*#
Linux/**/*.gladep
Linux/**/*.la
Linux/**/*.lo
Linux/**/*.o
Linux/**/*~
Linux/**/*.bak
Linux/CMakeLists.txt.user
Linux/CMakeCache.txt
Linux/CMakeFiles
Linux/CMakeScripts
Linux/Testing
Linux/Makefile
Linux/cmake_install.cmake
Linux/install_manifest.txt
Linux/compile_commands.json
Linux/CTestTestfile.cmake
Linux/_deps
Linux/CMakeUserPresets.json
Linux/build